# --- Python / Backend ---
venv/
__pycache__/
*.py[cod]
*$py.class
.env
.pytest_cache/
backend/training/data/VinAI
backend/training/data/IMG_OCR_VIE_CN/
backend/training/pretrained_models/
backend/training/output/
backend/training/vi_rec_train_list.txt
backend/training/vi_rec_val_list.txt
backend/training/vi_rec_test_list.txt
train_crops
train_crops_huge
fonts/
# --- PaddleOCR / ML Weights ---
# We ignore pre-trained models and large inference binaries
*.pdparams
*.pdopt
*.pdmodel
*.json
inference/

# --- Frontend ---
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
.DS_Store

# --- Logs & OS ---
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
*.swp