# --- Python / Backend ---
venv/
__pycache__/
*.py[cod]
*$py.class
.env
.pytest_cache/
backend/training/data/test_images/
backend/training/data/train_images/
backend/training/data/val_images/
backend/training/data/rec_crops/
backend/training/data/labels/
backend/training/pretrained_models/
backend/training/output/

# --- PaddleOCR / ML Weights ---
# We ignore pre-trained models and large inference binaries
*.pdparams
*.pdopt
*.pdmodel
*.json
inference/

# --- Frontend ---
frontend/node_modules/
frontend/dist/
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
.DS_Store

# --- Logs & OS ---
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.idea/
.vscode/
*.swp