/* index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

html, body, #root {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  background-color: #0A0A0C;
  /* This is the secret sauce to keeping things centered */
  display: flex;
  flex-direction: column;
  align-items: center;
}